@import '~node_modules/modern-normalize/modern-normalize.css';

// прописать стили для боди


body{

    color: rgba(19, 19, 19, 1);
    // background-color: var(--tab-bg-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 1.76;

    background-image: url('../images/main-bg.svg');
    background-repeat:repeat;
    background-size: contain;
    
    
}
