:root {
  --accent-color: #f8d24e;

  --mob-bg-color: #84a178;
  --tab-bg-color: #84a178;
  --tab-bg-header: #97af8d;

  --header-color-white: #fcfcfc;
  --header-color-black: #131313;

  --text-color-white: #FCFCFC;
  --text-color-black: #131313;

  --icon-close-color: #fcfcfc;
  --icon-burger-color: #ffffff;

  --btn-accent-bg: #f8d24e;
  --btn-color-text: #131313;
  --btn-border-color: #f8d24e;
  --btn-hover-color: #0A8817 ;
  --btn-text-color: #fff;
  

  --hero-text-color: #000000;
  --hero-text-accent: #f8d24e;
  --hero-arrow-color: #fcfcfc;

  --product-icecream-color: #aec6a5;
  --product-icecoffee-color: #efd478;
  --product-milkshakes-color: #d6936d;
  --product-arrow-color: #000000;

  --about-icon-bg: ##f8d24e;
  --about-icon-color: #131313;

  --point-active-color: #84a178;
  --point-next-color: #d9d9d9;

  --contact-main-color: #131313;
  --contact-address-color: #d6936d;
  --contact-time-color: #ababab;

  --footer-icon-bg: #f8d24e;
  --footer-icon-color: #84a178;
  --footer-line: #e1e1e1;
  --footer-trademark: #7a7a7a;

  --modal-text-color: #131313;
  --modal-bg-color: #fcfcfc;
  --modal-input-border: #84a178;
  --modal-composition-color: #9cbe8f;
  --modal-product-input: rgba(248, 210, 78, 0.1);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
