<section class="section advantages">
  <div class="container">
    <h2 class="advantages-title visually-hidden"></h2>
    <ul class="grid-list">
      <li class="grid-list__item cow-adv">
        <p class="grid-list__num">721</p>
        <p class="grid-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="grid-list__item weight-adv">
        <p class="grid-list__num">16kg</p>
        <p class="grid-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="grid-list__item icecream-adv">
        <p class="grid-list__num">84</p>
        <p class="grid-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
