<section class="gallery">
  <div class="container">
    <div class="swiper mySwiper">
      <ul class="gallery__list swiper-wrapper">
        <li class="gallery__item swiper-slide">
          <img
            srcset="
              ./images/slide-1s-1x.jpg  280w,
              ./images/slide-1s-2x.jpg  560w,
              ./images/slide-1m-1x.jpg  704w,
              ./images/slide-1m-2x.jpg 1408w,
              ./images/slide-1l-1x.jpg 1013w,
              ./images/slide-1l-2x.jpg 2026w
            "
            src="./images/slide-1s-1x.jpg"
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
            width="280"
            height="130"
            alt="first-slider"
          />
        </li>
        <li class="gallery__item swiper-slide">
          <img
            srcset="
              ./images/slide-2-1x.jpg 1013w,
              ./images/slide-2-2x.jpg 2026w
            "
            src="./images/slide-2-1x.jpg"
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
            width="280"
            height="130"
            alt="second-slider"
          />
        </li>
        <li class="gallery__item swiper-slide">
          <img
            srcset="
              ./images/slide-3-1x.jpg 1013w,
              ./images/slide-3-2x.jpg 2026w
            "
            src="./images/slide-3-1x.jpg"
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
            width="280"
            height="130"
            alt="third-slider"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
