<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <nav class="header__site-nav">
        <a href="" class="header__logo">
          <svg class="svg-logo">
            <use href="./images/icons.svg#logo"></use>
          </svg>
        </a>

        <ul class="header__navigation navigation">
          <li class="navigation__item item">
            <a class="navigation__link" href="./index.html">Home</a>
          </li>
          <li class="navigation__item item">
            <a class="navigation__link active" href="#how">How it’s made?</a>
          </li>
          <li class="navigation__item item">
            <a class="navigation__link" href="#products">Our products</a>
          </li>
          <li class="navigation__item item">
            <a class="navigation__link" href="#cards">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="buttons-wrapper">
        <button data-menu-open class="button__open">
          <svg class="svg-open">
            <use href="./images/icons.svg#menu"></use>
          </svg>
        </button>

        <button
          type="button"
          class="btn-header btn-tablet"
          data-modal-hero-open
        >
          Buy now
          <svg width="12" height="12">
            <use href="./images/icons.svg#arrow-small"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="mob-menu is-hidden" data-menu>
      <div class="mob-menu__header">
        <a href="" class="mob-menu__logo">
          <svg class="svg-logo">
            <use href="./images/icons.svg#logo"></use>
          </svg>
        </a>

        <button type="button" class="menu-close" data-menu-close>
          <svg class="menu-close__svg" width="19" height="19">
            <use href="./images/icons.svg#closemenu"></use>
          </svg>
        </button>
      </div>

      <div class="mob-menu__content">
        <ul class="mob-menu__navigation">
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#">Home</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link active" href="#how">How it’s made?</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#products">Our products</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="#cards">Contact</a>
          </li>
        </ul>

        <button
          type="button"
          class="btn-header mob-menu__button"
          data-modal-hero-open
        >
          Buy now
          <svg width="12" height="12">
            <use href="./images/icons.svg#arrow-small"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
