<section class="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title" id="products">Products</h2>
    <ul class="list products__list">
      <li class="products__item cream">
        <div class="products__desc">
          <h3 class="products__item_title">ice cream</h3>
          <p class="products__item_text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <a class="link" href="">
          <svg width="40" height="16">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="products__item coffee">
        <div class="products__desc">
          <h3 class="products__item_title">ice coffee</h3>
          <p class="products__item_text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <a class="link" href="">
          <svg width="40" height="16">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="products__item milkshake">
        <div class="products__desc">
          <h3 class="products__item_title">milkshakes</h3>
          <p class="products__item_text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <a class="link" href="">
          <svg width="40" height="16">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
