.cards {
  background-color: var(--tab-bg-color);
  padding-bottom: 40px;

  @include mq(desktop) {
    padding-bottom: 120px;
  }

  .container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -40px;

    @include mq(tablet) {
      padding-top: 400px;
    }

    @include mq(desktop) {
      padding-top: 650px;
    }
  }
}

.cards__content {
  margin-top: 28px;

  @include mq(tablet) {
    margin-top: -300px;
  }

  @include mq(desktop) {
    margin-top: -400px;
  }
}

.cards__list {
  margin-top: -350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include mq(tablet) {
    flex-direction: row;
    gap: 16px;
  }

  @include mq(desktop) {
    gap: 32px;
  }
}

.cards__cafe {
  height: 412px;
  width: 280px;
  background-color: var(--modal-bg-color);
  padding: 40px 32px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @include mq(tablet) {
    width: 224px;
    height: 528px;
    padding: 40px 27px 40px 24px;
  }

  @include mq(desktop) {
    width: 368px;
    height: 538px;
    padding: 40px 45px 40px 40px;
  }
}

.cards__name {
  margin: 0;
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  background-color: var(--accent-color);
  font-size: 12px;
  font-weight: 500;
  color: var(--modal-text-color);
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  border-radius: 4px;

  @include mq(tablet) {
    font-size: 14px;
    line-height: calc(22 / 14);
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.cards__city {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  color: var(--modal-text-color);
  letter-spacing: 0.04em;
  margin-top: 20px;

  @include mq(tablet) {
    font-size: 14px;
    line-height: calc(22 / 14);
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.cards__geo {
  display: flex;
  margin-top: 8px;
  margin-bottom: 24px;

  @include mq(tablet) {
    margin-top: 12px;
    margin-bottom: 26px;
  }

  @include mq(desktop) {
    margin-top: 8px;
    margin-bottom: 32px;
  }
}

.cards__addres {
  color: var(--contact-address-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @include mq(tablet) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.cards__open {
  padding-bottom: 24px;
  padding-top: 24px;
  margin-bottom: 24px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;

  @include mq(tablet) {
    padding-bottom: 32px;
    padding-top: 32px;
    margin-bottom: 32px;
  }
}

.cards__day {
  color: var(--modal-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;

  @include mq(tablet) {
    font-size: 14px;
    line-height: calc(26 / 14);

    @include mq(desktop) {
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }
}

.cards__hours {
  color: var(--contact-time-color);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;

  @include mq(tablet) {
    font-size: 14px;
    line-height: calc(26 / 14);

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.cards__phone {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(18 / 12);
  text-decoration: none;
  color: var(--modal-text-color);

  @include mq(tablet) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.cards__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(18 / 12);
  text-decoration: none;
  color: var(--modal-text-color);

  @include mq(tablet) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.cards__button {
  display: block;
  margin-top: 32px;

  @include mq(tablet) {
    margin-top: 60px;
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  @include mq(desktop) {
    margin-top: 64px;
  }
}

.btn-footer {
  text-align: center;
  cursor: pointer;
  @include mq(tablet) {
    margin-bottom: 0;
    margin-left: 0;
  }
  &.first {
    text-align: center;
    margin-right: 0;
    margin-bottom: 16px;
    border: 1px solid transparent;
  }
}

.btn-footer-secondary {
  cursor: pointer;
  @include mq(tablet) {
    height: 42px;
    margin-left: 0;
    margin-right: 0;
  }
  &.second {
    min-width: 202px;
    display: inline-block;
  }
}

.cards__icon {
  margin-left: 6px;
  align-items: center;
  fill: transparent;
  stroke: currentColor;
}
